.chainlit/data.db
.files/
.git/
.idea/
.minio/
.venv/
.vscode/
.env
.gitignore
.pre-commit-config.yaml

*.json

*.gif
*.png
*.jpg

uv.lock
README.md

# https://stackoverflow.com/a/51864425/27163563
Dockerfile
.dockerignore
